
$text-color: #333;
$background-color: #fff;
$path-font: '../gilroy';

@mixin font-face($family, $file, $font-weight) {
	@font-face {
  font-family: $family;
  src: url("#{$path-font}/#{$file}-webfont.eot");
  src: url("#{$path-font}/#{$file}-webfont.eot?#iefix") format("embedded-opentype"), url("#{$path-font}/#{$file}-webfont.woff2") format("woff2"), url("#{$path-font}/#{$file}-webfont.woff") format("woff"), url("#{$path-font}/#{$file}-webfont.svg#gilroylight") format("svg");
  font-weight: $font-weight;
  }
}

@include font-face('gilroylight', gilroy-light, 300);
@include font-face('gilroymedium', gilroy-medium, 500);



@keyframes hoverButton {
	50% { left: -5px; }
	100% { left: +5px; }
}


/*initial element positioning*/


body {
	font-size: 14px;
	margin: 0;
	padding: 0;
	}

#app-wrapper {
	position: relative;
	#main-menu-wrapper,
	#flash-card-wrapper {
		padding-left: 2px;
		position: absolute;
		top: 8px;
		left: 0;
		width: 98%;
		@media screen and (min-width: 750px) {
			padding-left: 0;
			}
		}
	#flash-card-wrapper {
		z-index: -1;
		}
	#main-menu-wrapper {
		height: 90vh;
		z-index: 100;
		#footer {
		margin-top: 20vh;
		height: 20vh;
		@media screen and (min-width: 750px) {
			margin-top: 10vh;
			}
		}
		ul {
		list-style-type: none;
		margin: 1px 0 0;
		padding-left: 0;
		width: 66%;
			}
		#main-menu-content-fade {
		height: 85vh;
		h6 {
			margin: 1rem 0;
			}
		}
}

.aboutHook {
	-webkit-transition: opacity .2s linear;
	transition: opacity .2s linear;
}

.aboutHook.ng-hide {
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s linear;
  	opacity:0;
}

#flash-card-content-wrapper {
	margin-top: 1rem;
    position: relative;
    height: 95vh;
    }

#flash-card-content-wrapper,
#main-menu-content-fade,
#card-front-content-fade,
#card-back-content-fade {
    -webkit-transition: display 0.4s linear, opacity 0.3s linear;
    transition: display 0.4s linear, opacity 0.3s linear;
}


#flash-card-content-wrapper {
    opacity: 0;
    width: 100%;
    #backButton {
    	cursor: pointer;
    	padding: 0;
		position: absolute;
		left: 0;
		border-bottom: none;
		z-index: 10000;
		img {
			height: 1rem;
			width: 2rem;
			}
			&:hover {
				animation: hoverButton .4s ease-in-out;
			}
			@media screen and (min-width: 750px) {
				padding-left: 1rem;
				img {
				height: 1rem;
				width: 	3rem;
				}
			}
		}
}

#main-menu-content-fade,
#card-section,
#card-front,
#card-back {
	@media screen and (min-width: 750px) {
		padding-left: 1rem;
		}
}

#card-section {
	background: white; 
	position: absolute;
    top: 10px;
    width: 90%;
    z-index: 100;
    }

#card-front,
#card-back {
	position: absolute;
    top: 35px;
    width: 100%;
    @media screen and (min-width: 750px) {
    	top: 75px;
    	}
    }

#card-front-content-fade,
#card-back-content-fade {
    opacity: 0;
    }

#card-back-content-fade {
  	position: absolute;
  	height: 52vh;
  	overflow-y: scroll;
    width: 98%;
    @media screen and (min-width: 750px) {
    	height: 60vh;
    	}
    }
    

#card-front {
    z-index: 10;
    }

#card-back {
	z-index: 1;
    }


#button-wrapper {
	bottom: 0;
	height: 30vh;
	position: absolute;
	z-index: 1000;
	text-align: center;
    width: 100%;
    @media screen and (min-width: 750px) {
    	height: 23vh;
    }
    button {
    	cursor: pointer;
    	padding: 15px 0;
    	width: 66%;
    	margin: 0 0 5px;
    	 }
    }

/*styling design-y stuff*/


h1 {
	color: $text-color;
	font-family: 'gilroylight', sans-serif;
	}

#main-menu-wrapper {
			h1 {
				font-size: 2.6rem;
				margin: 2.6rem 0 1rem;
				@media screen and (min-width: 750px) {
					font-size: 2.9rem;
					margin: 3.6rem 0 3rem;
				}
			}
			li {
			border-bottom: 1px solid $text-color;
			border-radius: 3px;
			cursor: pointer;
			padding: 15px 0;
			transition: border-bottom .4s ease-in-out, color .4s ease-in-out; 
			.vocab-count {
				font-size: .6rem;
				padding-left: .8rem;
				@media screen and (min-width: 750px) {
					font-size: 1rem;
					}
				}
			@media screen and (min-width: 750px) {
				border: none;
				border-bottom: 1px solid rgba(51,51,51,0.0);
				font-size: 2rem;
				&:hover {
					border-bottom: 1px solid rgba(51,51,51,1.0);
					}
				}
			}
		}
	}

#flash-card-wrapper h1 {
	font-size: 1.4rem;
	margin: 1rem 0 0;
	@media screen and (min-width: 750px) {
		margin: 2rem 0 0;
		}
	}


li, p, button, .word, h6 {
	color: $text-color;
	font-family: 'gilroymedium', 'gilroylight', sans-serif;
	}

li, button {
	font-size: 1rem;
}


p {
	font-size: 2rem;
	margin: 2rem 0 0;
	@media screen and (min-width: 750px) {
		font-size: 2.6rem;
		margin: 2.6rem 0 0;
	}
}


h6  {
	color: $text-color;
	a {
		cursor: pointer;
		text-decoration: none;
		&:hover {
		text-decoration: underline;
		}
	}
	@media screen and (min-width: 750px) {
		font-size: .85rem;
		}
}	


h3 {
	font-size: 1.1rem;
	margin: 1rem 0 .2rem;
}

button {
	background-color: $background-color;
    border: none;
    }

#button-wrapper {
	border-top: 1px solid $text-color;
	background-color: $background-color;
	@media screen and (min-width: 750px) {
		border-top: none;
		}
    button {
    border-bottom: 1px solid $text-color;
	@media screen and (min-width: 750px) {
		background-color: $background-color;
		border: none;
		border-bottom: 1px solid rgba(51,51,51,0.0);
		font-size: 2rem;
		transition: border-bottom .4s ease-in-out;
		&:hover {
			border-bottom: 1px solid rgba(51,51,51,1.0);
			}
		}
	}
}


.definitions {
	ul {
		list-style-type: none; 
		padding-left: 0;
	}
	@media screen and (min-width: 750px) {
		display: -webkit-flex;
		display: flex;
		flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
		justify-content: flex-start;
		-webkit-justify-content: flex-start;
		ul {
			margin-right: 3rem;
			}
		}
	}


