        <div id="main-menu-content-fade">
            <h1 ng-click="toggleTitle()">cartes flash fran&#231;ais</h1> 
            <div id="mainMenu">
                <ul ng-repeat="section in sectionsObject.menuArray | orderBy: 'title' ">
                    <li ng-click="startSection(section.type)">{{section.source.fullTitle}} <span class="vocab-count">{{section.count}}</span></li>
                </ul>
            </div>
        		<div id="footer"><h6 ng-click="about=!about"><a>about</a></h6> 
        		<about class="aboutHook" ng-show="about"></about>
        		</div>
        </div>

